.container {
  margin: 50px 0;
}

.card {
  margin: 0 2% !important;
}

.infected {
  border-bottom: 10px solid rgba(45, 32, 221, 0.5);
}

.recovered {
  border-bottom: 10px solid rgba(10, 194, 10, 0.5);
}

.deaths {
  border-bottom: 10px solid rgba(255, 44, 44, 0.5);
}
