.container {
  margin: 50px 0;
}

.card {
  margin: 0 2% !important;

  background-color: #3f4957 !important;
  border-radius: 25px !important;
  color: rgb(247, 247, 247) !important;
}

.infected {
  border-bottom: 10px solid hsl(209, 68%, 70%);
}

.recovered {
  border-bottom: 10px solid rgb(126, 206, 126);
}

.deaths {
  border-bottom: 10px solid rgb(231, 104, 104);
}

@media (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }
}
